.title {
    text-align:center;
    font-family: Regular,"MS Trebuchet", sans-serif;
    margin-bottom: 1%;
}
.header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.head li {
    float:left;
}
.head a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}
.title small{
    padding-bottom: 1em;
}
.kua a {
    text-decoration: none;
}
.kua {
    text-align: center;
    font-family: Regular,"MS Trebuchet", sans-serif;
    margin-top: 2em;
    padding: 1em;
    border: 2px solid #D3D3D3;
    border-radius: 0.5em;
}

.icon i{
    color: #0000008a;
    font-size: 48px;
    height: 48px;
    margin-top: 22px;
    -webkit-user-select: none;
    user-select: none;
    width: 48px;
}

.icon a {
    color: #0000008a;
    font-family: Regular,"MS Trebuchet", sans-serif;
    text-decoration: none;
}

.about {
    text-align: center;
}

a {
    text-decoration: none;
}
